@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;500;600&family=Poppins:wght@700;800&family=Protest+Revolution&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url('../Background.png');
	background-attachment: fixed;
	background-size: cover;
    background-repeat: no-repeat;

}
/* 
.mysterNumberGame {
	width: 100%;

} */

.title {

	font-family: 'Protest Revolution', sans-serif;
	font-size: 25px;
	color: #A27535;
	background: none;
	margin-left: 950px;
	margin-top: 100px;
	/* position: relative;
	top: 100px;
	left: 42%; */
}

.left {
	width: 690px;
	height: 500px;
	display: flex;
	margin-top: 230px;
	margin-left: 350px;
}

.left .numbers{
	display: flex;
	flex-wrap: wrap;
}
.left .numberBtn{
	font-size: 25px;
	border: solid 2px;
	box-shadow:  0 3px 3px black ;
	width: 50px;
	height: 40px;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.left .levels{
	margin-top: 6px;
	margin-right: 5px;
	display: flex;
flex-direction: column;

}
.left .level {
	width: 50px;
	height: 150px;
	box-shadow:   -3px -3px   black;
	margin-top: 10px;
	border-radius: 10px;
	background: none;
	background-color:#A27535;
writing-mode: vertical-lr;
transform: rotate(180deg); 
display: flex;
justify-content: center;
align-items: center;
font-size: larger;
font-weight: bold;
}

.right{
	width: 690px;
	height: 500px;
	display: flex;
	margin-top: 230px;
	margin-left: 650px;
}

.right .failed{
	width: 70px;
	height: 100px;
}