@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;500;600&family=Poppins:wght@700;800&family=Protest+Revolution&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url('../Background.png');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Protest Revolution', sans-serif;

}



.mysteryNumberGame .title {

	font-size: 25px;
	color: #A27535;
	background: none;
	margin-left: 975px;
	margin-top: 100px;

}

.content {
	display: flex;
	flex-wrap: wrap;
}

.mysteryNumberGame .left {
	width: 700px;
	display: flex;
	align-items: center;
	margin-top: 230px;
	margin-left: 235px;
}

.mysteryNumberGame .left .numbers {
	display: flex;
	flex-wrap: wrap;
}

.mysteryNumberGame .left .numberBtn {
	font-size: 25px;
	border: solid 2px;
	box-shadow: 0 3px 3px black;
	width: 50px;
	height: 40px;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.mysteryNumberGame .left .levels {
	margin-top: 6px;
	margin-right: 5px;
	display: flex;
	flex-direction: column;

}

.mysteryNumberGame .left .level {
	width: 50px;
	height: 150px;
	box-shadow: -3px -3px black;
	margin-top: 10px;
	border-radius: 10px;
	background: none;
	background-color: #E4C79A;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: larger;
	font-weight: bold;
}

.mysteryNumberGame .right {
	width: 400px;
	height: 500px;
	display: flex;
	margin-top: 180px;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-left: 453px;
	padding: 5px;

}


.gameOver {
	width: 400px;
	height: 120px;
	margin-top: 0px;

}

.mysteryNumberGame .right .gameOver img {
	width: 100px;
	height: 100px;
}

.result {
	width: 400px;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
}

.result .resultMessage {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;


}

.mysteryNumberGame .right p {
	font-size: 25px;
}

.restartSection {

	width: 100px;
	height: 100px;
	position: absolute;
	top: 43%;
	left: 47.5%;

}

.restartImage {
	position: absolute;
	top: 40%;
}

.restartbtn {
	position: absolute;
	top: 105%;
	left: 65%;
	transform: translate(-50%, -50%);
	width: 70px;
	background: none;
	height: 70px;
	border: 1px thin;
	border-radius: 50%;
	box-shadow: 3px 3px 5px black;
	font-size: 20px;
	font-weight: bolder;

}